body {
  background-color: #9290c3;
  color: white;
}

button {
  width: 60px;
  height: 60px;
  border: 0px;
  margin: 10px;
  background-color: #1b1a55;
  color: white;
  font-size: 20px;
}

.CalculatorUI {
  display: flex;
  margin-top: 20px;
  box-sizing: border-box;
  background-color: #070f2b;
  flex-direction: column;
  align-items: space-around;
  border: 5px solid #070f2b;
  border-radius: 20px;
  padding: 20px 30px 20px;
  max-width: 28vw;
  gap: 10px;
  height: 90vh;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
}

/* Display UI */

.row-display {
  align-self: stretch;
  padding: 10px;
  margin-right: 20px;
  display: flex;
  align-items: end;
  flex-direction: column;
  height: 150px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.display-upper {
  font-size: 24px;
}
.display-lower {
  font-size: 32px;
}

/* Display UI End*/

.row-clear,
.row-1,
.row-2,
.row-3,
.base-row {
  display: flex;
}

.digit {
  flex: 1 1 25%;
}
.op {
  flex: 1 1 25%;
}

/* Row (Clear row) */
.btn-Reset {
  flex: 1 1 58%;
}

.btn-del {
  flex: 1 1 25%;
}

/* End Row (Clear row) */

/* Row (Base row) */
.btn-0 {
  flex: 1 1 58%;
}

.btn-decimal {
  flex: 1 1 25%;
}

.btn-equal {
  flex: 1 1 25%;
}

/* End Row (Base row) */
